<div class="container">
  <div class="form-item">
    <div class="form-column">
      <table>
        名稱
      </table>
      <input type="text" />
    </div>
    <div class="error-message">請輸入產品名稱</div>
  </div>
  <div class="form-item">
    <div class="form-column">
      <table>
        作者
      </table>
      <button type="button">新增</button>
    </div>
  </div>
  <div class="form-item">
    <div class="form-column">
      <button type="button">刪除</button>
      <input type="text" />
    </div>
    <div class="error-message">請輸入作者</div>
  </div>
  <div class="form-item">
    <div class="form-column">
      <table>
        出版社
      </table>
      <input type="text" />
    </div>
    <div class="error-message">請輸入出版社</div>
  </div>
  <div class="form-item">
    <div class="form-column">
      <table>
        單價
      </table>
      <input type="text" />
    </div>
    <div class="error-message">請輸入單價</div>
  </div>
  <div class="form-action">
    <button type="button" class="save">儲存</button>
    <button type="button">取消</button>
  </div>
</div>
