header {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.card {
  border-style: solid;
  border-color: red;
  border-width: 1px;
  border-radius: 8px;
  width: 250px;
}

input[type="text"] {
  width: 200px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 8px;
}

th,
td {
  height: 30px;
  text-align: center;
}

.table {
  text-align: left;
}

body {
  padding: 10px;
}

footer {
  margin-top: 20px;
}

section {
  margin: 0 auto;
  width: 90%;
}

th {
  color: white;
  background-color: #777777;
}

.nav {
  border-style: solid;
  border-width: 1px;
  border-color: #999;
  display: block;
  padding: 8px;
  width: 80px;
  text-align: center;
}

tr:hover {
  background-color: yellow;
}
